<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="E:\Temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="Console" xsi:type="Console"/>
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="Console" />
    <logger name="GrpcService.*" minlevel="Trace" writeTo="Console" />
  </rules>
</nlog>